body{
	font-family: consolas, monaco, sans-serif;
	text-align: center;
	margin: 0;
	background-color: #fff;
}

#wrapper{
	width: 700px;
	margin: auto;
	overflow: hidden;
}
#kittehs{
	float: left;
	margin-bottom: 1em;
}
.kitteh{
	width: 300px;
	float: left;
	text-align: center;
}
.kitteh.b{
	float:right;
}
.kitteh img{
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	cursor: pointer;
}
.kitteh img:hover{
	-webkit-transform: scale(1.07);
	-moz-transform: scale(1.07);
	-o-transform: scale(1.07);
	-ms-transform: scale(1.07);
}

.divider{
	float: left;
	width: 100px;
	line-height: 200px;
}

p{
	clear:both;
}

#kittehs{
	text-align: left;
	list-style: none;
}

#kittehs li{
	float: left;
	position: relative;
}

#kittehs > li{
	clear: left;
	margin-bottom: 1em;
}
#kittehs > li > img{
	float: left;
}
#kittehs > li > .votes{
	position: absolute;
	top: 5px;
	left: 5px;
	color: #fff;
	text-shadow: 0 0 4px #000;
	font-size: 24px;
}

.detail{
	float: left;
}

.detail ol{
	list-style: none;
}
.detail li{
	float: left;
	padding: 5px;
}
.detail img{
	max-width: 100px;
}
.detail .votes{
	opacity: 0;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
}
.detail li:hover .votes{
	opacity: 1;
}